#navbar-main {
  background-color: #ffa500;
/*  border-color: #ffffff; */
  font-family: 'Open Sans', sans-serif;
  border: 0;
  font-weight: bold;
}
#navbar-main .navbar-brand {
  color: #ffffff;
}
#navbar-main .navbar-brand:hover, #navbar-main .navbar-brand:focus {
  color: white;
  text-decoration: underline;
}
#navbar-main .navbar-text {
  color: #ffffff;
}
#navbar-main .navbar-nav > li > a {
  color: #ffffff;
}
#navbar-main .navbar-nav > li > a:hover, #navbar-main .navbar-nav > li > a:focus {
  background-color: darkorange;
  color: #ffffff;
}
#navbar-main .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
  border-color: orange;
}
#navbar-main .navbar-nav > li > .dropdown-menu > li > a {
  color: darkorange;
}
#navbar-main .navbar-nav > li > .dropdown-menu > li > a:hover,
#navbar-main .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: white;
  background-color: orange;
}
#navbar-main .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: darkorange;
}
#navbar-main .navbar-nav > .active > a, #navbar-main .navbar-nav > .active > a:hover, #navbar-main .navbar-nav > .active > a:focus {
  color: #0000ff;
  background-color: #ffffff;
}
#navbar-main .navbar-nav > .open > a, #navbar-main .navbar-nav > .open > a:hover, #navbar-main .navbar-nav > .open > a:focus {
  color: #0000ff;
  background-color: #ffffff;
}
#navbar-main .navbar-toggle {
  border-color: #ffffff;
}
#navbar-main .navbar-toggle:hover, #navbar-main .navbar-toggle:focus {
  background-color: darkorange;
}
#navbar-main .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
#navbar-main .navbar-collapse,
#navbar-main .navbar-form {
  border-color: #ffffff;
}
#navbar-main .navbar-link {
  color: #ffffff;
}
#navbar-main .navbar-link:hover {
  color: #0000ff;
}

@media (max-width: 767px) {
  #navbar-main .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    background-color: orange;
  }
  #navbar-main .navbar-nav .open .dropdown-menu > li > a:hover, #navbar-main .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0000ff;
  }
  #navbar-main .navbar-nav .open .dropdown-menu > .active > a, #navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover, #navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0000ff;
    background-color: #ffffff;
  }
}

#navbar-main > .container {
    text-align: center;
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: auto;
}

#navbar-main > .container > * {
    text-align: left;
}

#navbar-main {
    margin: 0 auto;
}

#navbar-main .dropdown-menu {
    
    border-top: 0;
    border-left: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;

}

#navbar-main .badge {
    background-color: orangered;
    color: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #navbar-main .menu-item-text {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    
    #navbar-main .search {
        width: 180px;
    }
}

@media only screen and (min-wdith: 1440px) {
    #navbar-main .search {
        width: 250px;
    }
}

#search-results {
	display: none;
}

#navbar-main > li > a:hover .menu-item-text, #navbar-main .navbar-nav > li > a:focus .menu-item-text {
    text-decoration: underline;
}

#navbar-main .navbar-right {
}

#navbar-main .username {
    display: block;
    max-width: 200px;
    height: 50px;
    overflow: hidden;
}

/* CONTAINER */

#main-content {
    margin: 75px auto;
}

/* POST */

#controls {
    margin: 50px 0;
    background-color: black;
}

#new-post {
    display: none;
    min-width: 256px;
    min-height: 256px;
}

.posts {
    margin: 12px auto;
}

.post {
    border-radius: 10px;
    min-width: 384px;
    max-width: 512px !important;
}

@media (min-width: 768px) {
    .post {
        max-width: 75%;
    }
}

.post > .header {
    background-color: lightblue;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post .header .author {
    font-family: 'Comfortaa', cursive;
    display: block;
    font: 1.2em sans;
}

.post .header .date-time {
}

.post .header .title {
	font: 1.2em;
	display: block;
}

.post .header img {
    float: left;
    margin: 0 20px 10px 0;
    border: 2px solid;
    border-radius: 5px;
}

.post .content {
    padding: 15px;
    text-align: justify;
}

.post .content img {
    color: lightblue;
    max-width: 100%;
    margin: 10px 0;
    border: 3px solid;
}

.post .comments {
	margin-bottom: 15px;
	display: none;
}

.post .comments ul {
	list-style: none;
	border-bottom: 2px solid lightgrey;
	width: 100% !important;
}

.post .comments ul li {
	padding: 5px;
	border-top: 1px dotted;
}

.post .comments ul li strong {
	color: darkorange;
}

.post .comments .header {
	color: grey;
}

.post .comments textarea {
	min-width: 300px !important;
	margin-bottom: 30px;
}

.post .actions {
    background-color: lightgoldenrodyellow;
    padding: 15px 5px 35px 5px;
}

.post .actions li {
    display: block;
    float: left;
}

.post .actions li a {
    padding: 5px 10px;
    text-decoration: none;
}

.post .actions li a.like {
    color: darkgreen;
}
.post .actions li a.remove {
    color: gray;
}
.post .actions li a.comment {
    color: darkblue;
}

.post .actions li a:hover, .post .actions li a:active {
    color: orangered;
}

/* spinning animation */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}